// 该配置文件采用 KDL 格式：https://kdl.dev
// "/-" 用于注释掉其后的节点。
config-notification {
    disable-failed
}

/-cursor {
    // 光标主题名称，必须与/usr/share/icons/下的文件夹名称完全一致
    xcursor-theme "Vimix-cursors"
    
    // 光标大小，推荐24-32
    xcursor-size 20
    
    // 闲置时隐藏光标（毫秒），可选
    hide-after-inactive-ms 3000
    
    // 输入时隐藏光标，可选
    hide-when-typing
}


gestures {
    hot-corners {
        off
    }
}

input {
    keyboard {
        xkb {}
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {
        accel-speed -0.72
    }
    trackpoint {}
}

output "DP-3" {
    // 强制指定 2K 180Hz
    mode "2560x1440@179.999"
    // 如果支持 G-Sync/FreeSync，建议开启，防掉帧很有效
    /-variable-refresh-rate
}

layout {
    background-color "transparent"
    // Set gaps around windows in logical pixels.
    gaps 8

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        // Proportion sets the width as a fraction of the output width, taking gaps into account.
        // For example, you can perfectly fit four windows sized "proportion 0.25" on an output.
        // The default preset widths are 1/3, 1/2 and 2/3 of the output.
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }

    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    // preset-window-heights { }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary shape.
    //
    // If you don't like that, you should uncomment `prefer-no-csd` below.
    // Niri will draw focus ring and border *around* windows that agree to omit their
    // client-side decorations.
    //
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
        // Uncomment this line to disable the focus ring.
        // off

        // How many logical pixels the ring extends out from the windows.
        width 2
        
        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        // Color of the ring on the active monitor.
        active-color "#7fc8ff"

        // Color of the ring on inactive monitors.
        //
        // The focus ring only draws around the active window, so the only place
        // where you can see its inactive-color is on other monitors.
        inactive-color "#505050"

        // You can also use gradients. They take precedence over solid colors.
        // Gradients are rendered the same as CSS linear-gradient(angle, from, to).
        // The angle is the same as in linear-gradient, and is optional,
        // defaulting to 180 (top-to-bottom gradient).
        // You can use any CSS linear-gradient tool on the web to set these up.
        // Changing the color space is also supported, check the wiki for more info.
        //
        // active-gradient from="#ff80dd80" to="#ffb5e550" angle=45

        // You can also color the gradient relative to the entire view
        // of the workspace, rather than relative to just the window itself.
        // To do that, set relative-to="workspace-view".
        //
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // The settings are the same as for the focus ring.
        // If you enable the border, you probably want to disable the focus ring.
        off

        width 2
        active-color "#ffc87f"
        inactive-color "#505050"

        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"

        // Gradients can use a few different interpolation color spaces.
        // For example, this is a pastel rainbow gradient via in="oklch longer hue".
        //
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"

        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can enable drop shadows for windows.
    shadow {
        // Uncomment the next line to enable shadows.
        // on

        // By default, the shadow draws only around its window, and not behind it.
        // Uncomment this setting to make the shadow draw behind its window.
        //
        // Note that niri has no way of knowing about the CSD window corner
        // radius. It has to assume that windows have square corners, leading to
        // shadow artifacts inside the CSD rounded corners. This setting fixes
        // those artifacts.
        //
        // However, instead you may want to set prefer-no-csd and/or
        // geometry-corner-radius. Then, niri will know the corner radius and
        // draw the shadow correctly, without having to draw it behind the
        // window. These will also remove client-side shadows if the window
        // draws any.
        //
        // draw-behind-window true

        // You can change how shadows look. The values below are in logical
        // pixels and match the CSS box-shadow properties.

        // Softness controls the shadow blur radius.
        softness 30

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#0007"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

// 全局窗口规则
window-rule {
    // 这一行规则可以让niri变成传统桌面那样的堆叠式桌面。
    //open-floating true
    // 圆角
    geometry-corner-radius 8
    // 去掉超出圆角的窗口内容
    clip-to-geometry true
    // 全局透明度
    opacity 0.9
    // 禁止边框画到背景里
    draw-border-with-background false
    background-effect {
        blur true
    }
}

blur {
    // off
    passes 3
    offset 2.3
    noise 0.001
    saturation 2
}


layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

overview {
    workspace-shadow {
        off
    }
}

environment {
    XDG_CURRENT_DESKTOP "niri"
    GTK_IM_MODULE ""
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}


// ==========================================
// 应用特定规则 (App-specific Rules)
// ==========================================

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}

window-rule {
    match app-id=r#"^org\.gnome\.Calculator$"#
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^xdg-desktop-portal$"#
    open-floating true
}

window-rule {
    match app-id=r#"^steam$"# title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}

window-rule {
    match app-id=r#"org.quickshell$"#
    match app-id=r#"com.danklinux.dms$"#
    open-floating true
}

window-rule {
    match app-id="wine"
    open-floating true
    default-column-width { proportion 1.0; }
    draw-border-with-background false
}

debug {
    honor-xdg-activation-with-invalid-serial
}

recent-windows {
    binds {
        Alt+Tab         { next-window scope="output"; }
        Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}

include "dms/colors.kdl"
/-include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/outputs.kdl"
include "dms/cursor.kdl"

binds {
    Mod+Q { close-window; }           
    Mod+Shift+E { quit; }             
    
    Mod+Shift+R { spawn "niri" "msg" "action" "load-config-file"; }

    Mod+R { spawn "dms" "ipc" "call" "spotlight" "toggle"; }  
    Mod+Return { spawn "kitty"; }   
    Mod+E { spawn "nautilus"; }       
    
    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    
    Mod+D { focus-workspace-down; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     {move-column-left; }
    Mod+Shift+L     { move-column-right; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+T           { toggle-window-floating; }
    
    Mod+F { maximize-column; }        
    Mod+Shift+F { fullscreen-window; }
    Mod+Space { switch-preset-column-width; } 
    
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }

    Mod+Shift+S { screenshot; } 
    Mod+L { spawn "swaylock"; } 
    Mod+Slash { show-hotkey-overlay; }

    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute        { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
}
include "dms/windowrules.kdl"

// ==========================================
// 游戏专属规则：强制无特效、最高性能
// ==========================================
window-rule {
    // 1. 匹配常见的底层运行环境
    match app-id=r#"^steam_app_.*"#   // 匹配所有 Steam 游戏（原生或 Proton）
    match app-id=r#"^gamescope$"#     // 匹配 Gamescope 微型合成器
    match app-id=r#"^wine$"#          // 匹配普通的 Wine 运行环境
    
    // 2. 也可以直接通过窗口标题精准匹配（支持正则忽略大小写）
    // 比如通过第三方启动器运行的《原神》、《绝区零》等，可以直接抓取标题
    match title=r#"(?i)genshin impact|zenless zone zero|victoria 3|the sims 4|Endfield"#

    // 禁用透明度，恢复 100% 实体
    opacity 1.0

    // 关闭模糊效果，节省显卡算力
    background-effect {
        blur false
    }

    // 确保没有边框渲染干扰
    draw-border-with-background false
}

// 视频画中画
window-rule {
    match app-id="firefox" title="画中画"
    match app-id="firefox" title="Picture-in-Picture"

    open-floating true
    
    // 让窗口自己决定初始大小，从而解锁拉伸限制
    default-column-width {}
    default-window-height {}

    // 依然可以保持右下角定位
    default-floating-position x=20 y=20 relative-to="bottom-right"
}